<h3>Definire Sucursala</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cod">Cod</label>
      <input type="text" class="form-control" id="cod" required [(ngModel)]="sucursala.cod" name="cod">
    </div>

    <div class="form-group">
      <label for="denumire">Denumire</label>
      <input type="text" class="form-control" id="denumire" required [(ngModel)]="sucursala.denumire" name="denumire">
    </div>

    <div class="form-group">
      <label for="adresa">Adresa</label>
      <input type="text" class="form-control" id="adresa" required [(ngModel)]="sucursala.adresa" name="adresa">
    </div>

    <div class="form-group">
      <label for="adresa">Oras</label>
      <input type="text" class="form-control" id="oras" required [(ngModel)]="sucursala.oras" name="oras">
    </div>

    <div class="form-group">
      <label for="Judet">Judet</label>
      <select class="form-control" id="judet" required [(ngModel)]="sucursala.judet" name="judet">
        <option value="B1">Bucuresti Sector 1</option>
        <option value="B2">Bucuresti Sector 2</option>
        <option value="B3">Bucuresti Sector 3</option>
        <option value="B4">Bucuresti Sector 4</option>
        <option value="B5">Bucuresti Sector 5</option>
        <option value="B6">Bucuresti Sector 6</option>
        <option value="AB">Alba</option>
        <option value="AR">Arad</option>
        <option value="AG">Arges</option>
        <option value="BC">Bacau</option>
        <option value="BH">Bihor</option>
        <option value="BN">Bistrita-Nasaud</option>
        <option value="BT">Botosani</option>
        <option value="BR">Braila</option>
        <option value="BV">Brasov</option>
        <option value="BZ">Buzau</option>
        <option value="CL">Calarasi</option>
        <option value="CS">Caras-Severin</option>
        <option value="CJ">Cluj</option>
        <option value="CT">Constanta</option>
        <option value="CV">Covasna</option>
        <option value="DB">Dambovita</option>
        <option value="DJ">Dolj</option>
        <option value="GL">Galati</option>
        <option value="GR">Giurgiu</option>
        <option value="GJ">Gorj</option>
        <option value="HR">Harghita</option>
        <option value="HD">Hunedoara</option>
        <option value="IL">Ialomita</option>
        <option value="IF">Ilfov</option>
        <option value="IS">Iasi</option>
        <option value="MM">Maramures</option>
        <option value="MH">Mehedinti</option>
        <option value="NT">Neamt</option>
        <option value="OT">Olt</option>
        <option value="PH">Prahova</option>
        <option value="SJ">Salaj</option>
        <option value="SM">Satu Mare</option>
        <option value="SB">Sibiu</option>
        <option value="SV">Suceava</option>
        <option value="TR">Teleorman</option>
        <option value="TM">Timis</option>
        <option value="TL">Tulcea</option>
        <option value="VL">Valcea</option>
        <option value="VS">Vaslui</option>
        <option value="VN">Vrancea</option>
      </select>
    </div>

    <div class="form-group">
      <label for="codAgentMoneygram">Cod agent moneygram</label>
      <input type="text" class="form-control" id="codAgentMoneygram" required [(ngModel)]="sucursala.codAgentMoneyGram" name="codAgentMoneygram">
    </div>

    <div class="form-group">
      <label for="parolaAgentMoneygram">Parola agent moneygram</label>
      <input type="text" class="form-control" id="parolaAgentMoneygram" required [(ngModel)]="sucursala.parolaAgentMoneyGram" name="parolaAgentMoneygram">
    </div>

    <div class="form-group">
      <label for="posAgentMoneygram">POS agent moneygram</label>
      <input type="text" class="form-control" id="posAgentMoneygram" required [(ngModel)]="sucursala.posAgentMoneyGram" name="posAgentMoneygram">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" required [(ngModel)]="sucursala.status" name="status">
        <option value="Y">Activ</option>
        <option value="N">Inactiv</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
