.ufe-form-digits-input {
  .form-inline {
    .form-group {
      display: inline-block;
      .input-digit {
        width: 27px;
        height: 36px;
        margin: 0 5px;
        padding-left: 7px;
        padding-right: 0px;
      }
    }
  }
}
