<div class="TopRectangle">
  <div class="TopRectangleText SecondStyle">
    <div class="row">
      <div class="col-lg-6 text-left">
        MoneyGram
      </div>
      <div class="col-lg-6 text-right">

      </div>
    </div>
  </div>
</div>

<div class="MiddleRectangle">

  <div class="row">
    <div class="col-lg-9">
      <div class="DivPaginaCentrala">

        <div class="row">
          <div class="col-lg-4">
            <div class="Mask" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkTransferSuma.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Transfer suma</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/send" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="MaskPrimireSuma" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkPrimireSuma.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Primire suma</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/receive" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-lg-4">
            <div class="MaskStatusTranzactii" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkStatusTranzactii.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Tranzactii</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/transactions" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="MaskOferte" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkOferte.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Oferte</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/send" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-lg-4">
            <div class="MaskParteneri" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkParteneri.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Parteneri</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/findLocations" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="MaskAdministrare" style="width: 100%;">
              <div class="row">
                <div class="col-lg-2">
                  <img src="../../../assets/images/imagineLinkAdministrare.png" class="Oval" />
                </div>
                <div class="col-lg-10">
                  <label class="componenta">Componenta: </label><br />
                  <label class="transferSuma">Administrare</label>
                </div>
              </div>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                  <a routerLink="/sucursale" routerLinkActive="active">
                    <label class="Selecteaza">Selecteaza</label>
                    <img src="../../../assets/images/blueArrow.png" alt="image" class="Arrow">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3" style="box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.08); background-color: #ffffff;">
      <div style="background-color: white; height: 1050px; padding: 20px 20px 20px 20px;">
        <div class="row" style="padding: 1px 1px 1px 1px;">
          <div class="col-lg-12">

          </div>
        </div>
      </div>
  </div>

</div>
