BODY
{
  margin-top: 5px;
}

A
{
  font-size: 8pt;
  color: #6495ed;
  font-family: Arial,Tahoma,Verdana;
  text-decoration: underline;
}

A:hover
{
  color: #ff3300;
  font-family: Arial,Tahoma,Verdana;
  text-decoration: none;
}

.a2
{
  FONT-SIZE: 8pt;
  COLOR: #000066;
  FONT-FAMILY: Arial,Tahoma,Verdana;
  TEXT-DECORATION: none
}

.fn_5
{
  FONT-SIZE: x-small;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}
.fn_6
{
  FONT-SIZE: 6pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}
.fn_7
{
  FONT-SIZE: 7pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_8
{
  FONT-SIZE: 8pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_8_bl
{
  FONT-SIZE: 8pt;
  COLOR: #00008b;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_8_b
{
  FONT-SIZE: 8pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
  font-weight: bold;
}

.fn_8_gr
{
  FONT-SIZE: 8pt;
  COLOR: #99cc66;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_8_grc
{
  FONT-SIZE: 8pt;
  COLOR: #99cc66;
  FONT-FAMILY: Arial,Tahoma,Verdana;
  color: #3399FF;
}


.fn_9
{
  FONT-SIZE: 9pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_9_bl
{
  FONT-SIZE: 9pt;
  COLOR: #00008b;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_9_gr
{
  FONT-SIZE: 9pt;
  COLOR: #99cc66;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_9_white
{
  font-size: 9pt;
  color: #FFFFFF;
  font-family: Arial,Tahoma,Verdana;
}


.fn_10
{
  FONT-SIZE: 10pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
  text-align: left;
}

.fn_10_white
{
  font-size: 10pt;
  color: #FFFFFF;
  font-family: Arial,Tahoma,Verdana;
}
.fn_10_b
{
  FONT-SIZE: 10pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
  font-weight: bold;
}
.fn_12
{
  FONT-SIZE: 12pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_14
{
  FONT-SIZE: 14pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_16
{
  FONT-SIZE: 16pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_18
{
  FONT-SIZE: 18pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.fn_20
{
  FONT-SIZE: 20pt;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.DataGrid1
{
  BORDER-RIGHT: 1px solid;
  BORDER-TOP: 1px solid;
  BORDER-LEFT: 1px solid;
  BORDER-BOTTOM: 1px solid;
  BORDER-COLLAPSE: collapse
}
.err_1
{
  FONT-SIZE: 9pt;
  COLOR: #ff0000;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}
.err_8
{
  FONT-SIZE: 8pt;
  COLOR: #ff0000;
  FONT-FAMILY: Arial,Tahoma,Verdana;
}

.handleImage
{ margin-left:auto;
  margin-right:auto;
}

.modalPopup
{
  background-color:#ffffdd;
  border-width:3px;
  border-style:solid;
  border-color:Gray;
  padding:3px;
  width:300px;
}

.modalBackground
{
  background-color:Gray;
  filter:alpha(opacity=70);
  opacity:0.7;

}
.style2
{
  width: 82px;
}

