<div id="upleft">

  <img src="../assets/images/logo.png" alt="image" style="padding-top: 100px; width: 40px; align-content: center;">

  <ul class="navbar-nav" style="padding-top: 100px;">
    <li class="nav-item">
      <a routerLink="send" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/sendLink.png">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="receive" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/receiveLink.png">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="transactions" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/3.png">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="findLocations" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/4.png">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="getProfile" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/5.png">
      </a>
    </li>
    <li class="nav-item" style="padding-top: 315px;">
      <a routerLink="getProfile" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/default2.png">
      </a>
    </li>
    <li class="nav-item" style="padding-top: 10px;">
      <a routerLink="getProfile" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/default.png">
      </a>
    </li>
    <li class="nav-item" style="padding-top: 10px;">
      <a routerLink="getProfile" class="nav-link" routerLinkActive="active">
        <img src="../assets/images/avatar.png">
      </a>
    </li>
  </ul>

</div>

<div id="upright" class="container">

  <router-outlet></router-outlet>

</div>
