<h3>Definire Utilizator</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label for="numePrenume">Nume Prenume</label>
      <input type="text" class="form-control" id="numePrenume" required [(ngModel)]="user.numePrenume" name="numePrenume">
    </div>

    <div class="form-group">
      <label for="sucursala">Sucursala</label>
      <select class="form-control" id="sucursala" [(ngModel)]="user.idSucursala" name="sucursala">
        <option value="">-- Selectati</option>
        <option *ngFor="let sucurala of sucursale"
                [value]="sucurala.id">
          {{sucurala.denumire}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="isAdmin">Is Admin</label>
      <select class="form-control" id="isAdmin" required [(ngModel)]="user.isAdmin" name="isAdmin">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="canPerformMgTransactions">Can Perform MoneyGram Transaction</label>
      <select class="form-control" id="canPerformMgTransactions" required [(ngModel)]="user.canPerformMgTransactions" name="canPerformMgTransactions">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" required [(ngModel)]="user.status" name="status">
        <option value="Y">Activ</option>
        <option value="N">Inactiv</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
