<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Utilizatori</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Nume Prenume</th>
            <th>Sucursala</th>
            <th>Is Admin</th>
            <th>Can perform transactions</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.username}}</td>
            <td>{{user.numePrenume}}</td>
            <td>{{user.idSucursala}}</td>
            <td>{{user.isAdmin}}</td>
            <td>{{user.canPerformMgTransactions}}</td>
            <td>{{user.status}}</td>
            <td>
                <!--<button (click)="deleteSucursala(sucursala.id)" class="btn btn-danger">Delete</button>-->
                <button class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
