<div class="TopRectangle">
  <div class="TopRectangleText SecondStyle">
    <div class="row">
      <div class="col-lg-6 text-left">
        MoneyGram
        <img src="../assets/images/grayArrow.png" alt="image" class="Arrow">
        Profile
      </div>
      <div class="col-lg-6 text-right">

      </div>
    </div>
  </div>
</div>

<div class="MiddleRectangle">

  <div class="row" style="padding: 10px 10px 10px 10px;">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h4 class="panel-title">Product profile item
              </h4>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <div class="DivProfileItem" style="margin: 10px 10px 10px 10px;">
        <table id="datatableFees" class="table table-hover" style="background-color: white; border-radius: 8px;">
          <thead>
            <th style="text-align: center;">Product ID</th>
            <th style="text-align: center;">Key</th>
            <th style="text-align: center;">Value</th>
          </thead>
          <tr *ngFor="let item of profileResponse.productProfileItem">
            <td style="text-align: left;">
              {{item.productID}}
            </td>
            <td style="text-align: left;">
              {{item.key}}
            </td>
            <td style="text-align: left;">
              {{item.value}}
            </td>
          </tr>
        </table>
      </div>

        </div>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h4 class="panel-title">Product profile item
              </h4>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <div class="DivProfileItem" style="margin: 10px 10px 10px 10px;">
        <table class="table table-hover" style="background-color: white; border-radius: 8px;">
          <thead>
          <th style="text-align: center;">Key</th>
          <th style="text-align: center;">Value</th>
          </thead>
          <tr *ngFor="let item of profileResponse.profileItem">
            <td style="text-align: left;">
              {{item.key}}
            </td>
            <td style="text-align: left;">
              {{item.value}}
            </td>
          </tr>
        </table>
      </div>

        </div>
      </div>

    </div>
  </div>
</div>
