<div class="TopRectangle">
  <div class="TopRectangleText SecondStyle">
    <div class="row">
      <div class="col-lg-6 text-left">
        MoneyGram
        <img src="../assets/images/grayArrow.png" alt="image" class="Arrow">
        Status tranzactii
      </div>
      <div class="col-lg-6 text-right">

      </div>
    </div>
  </div>
</div>

<div class="MiddleRectangle">



  <div class="row">


    <div class="col-lg-12">

<div class="content-wrapper">
  <section class="content">
    <br />
    <div class="table-container" style="background-color: white">

      <div class="row" style="padding: 20px 20px 20px 20px;">
        <div class="col-lg-2">
          <div class="form-group">
            <app-ufe-date-range-picker></app-ufe-date-range-picker>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <select class="form-control" id="sucursala" placeholder="Sucursala" [(ngModel)]="idSucursala" name="sucursala">
              <option value="">-- Selectati sucursala</option>
              <option *ngFor="let sucurala of sucursale"
                      [value]="sucurala.id">
                {{sucurala.denumire}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <input type="number" class="form-control" id="cnp" placeholder="CNP" [(ngModel)]="cnp" required name="cnp">
          </div>
        </div>
        <div class="col-lg-4">
          <button type="submit" class="ButonTranzactii" (click)="cautaTranzactii()">Cautare</button>
          &nbsp;
          <button type="submit" class="ButonTranzactii">Descarca raport</button>
<!--          <button type="submit" class="ButonTranzactii" (click)="afisareDetalii">Detalii</button>-->

<!--          <input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->

        </div>
      </div>

      <div class="table-body" style="font-size: x-small;">
        <div class="headers">
          <div class="header" [ngClass]="determineReportHeaderClass(header)" [ngStyle]="determineColumnWidth()"
               *ngFor="let header of reportView.activeColumnHeaders; let i = index"
               (keyup.escape)="cancelFilterPopup()">
            <div class="header-name" style="font-size: 10px;">{{header.fieldValue | uppercase}}</div>
            <div class="header-sorting-placeholder">
              <div class="header-sorting" *ngIf="header.sorting !== reportView.sorting.NONE">
                <img *ngIf="header.sorting === reportView.sorting.ASC"
                     src="../../../assets/images/svg/reporting/sort_arrow_up_header.svg">
                <img *ngIf="header.sorting === reportView.sorting.DESC"
                     src="../../../assets/images/svg/reporting/sort_arrow_down_header.svg">
              </div>
            </div>
            <div class="header-search-placeholder">
              <div class="header-search" *ngIf="header.filter">
                <img class="search-icon" src="../../../assets/images/svg/reporting/search.svg">
                <div class="search-value" *ngIf="header.filter.length < 5">"{{header.filter}}"</div>
                <div class="search-value" *ngIf="header.filter.length > 4">"{{header.filter.substring(0, 4)}}..."
                </div>
              </div>
            </div>
            <div class="header-menu">
              <div class="additional-menu" (click)="showFilterPopup(header)">
                <img *ngIf="header.isFilterPopupVisible == false" src="../../../assets/images/svg/reporting/additional_menu.svg">
                <img *ngIf="header.isFilterPopupVisible == true"
                     src="../../../assets/images/svg/reporting/additional_menu_active.svg">
              </div>
              <div class="filter-popup" *ngIf="header.isFilterPopupVisible" [ngStyle]="determinePopupPosition(i)"
                   (keyup.enter)="applyFilterPopup(header, false,false, filterValue.value)">
                <div class="filter-sort" (click)="applyFilterPopup(header,true, false, null)"><img
                  src="../../../assets/images/svg/reporting/sort_arrow_up_popup.svg">Sortare ascendenta
                </div>
                <div class="filter-sort" (click)="applyFilterPopup(header,false, true, null)"><img
                  src="../../../assets/images/svg/reporting/sort_arrow_down_popup.svg">Sortare descendenta
                </div>
                <input class="filter-search" #filterValue placeholder="Cauta dupa {{header.fieldValue}}"
                       [value]="header.filter"/>
                <div *ngIf="!header.isFilterPopupColumnSelectionVisible" class="filter-popup-columns-selection"
                     (click)="header.isFilterPopupColumnSelectionVisible = !header.isFilterPopupColumnSelectionVisible">
                  <img src="../../../assets/images/svg/reporting/popup_more_columns_inactive.svg">Configurare coloane
                </div>
                <div *ngIf="header.isFilterPopupColumnSelectionVisible" class="filter-popup-columns-selection active"
                     (click)="header.isFilterPopupColumnSelectionVisible = !header.isFilterPopupColumnSelectionVisible">
                  <img src="../../../assets/images/svg/reporting/popup_more_columns_active.svg">Configurare coloane
                </div>
                <div *ngIf="header.isFilterPopupColumnSelectionVisible" class="filter-popup-columns-header"></div>
                <div *ngIf="header.isFilterPopupColumnSelectionVisible" class="filter-popup-columns">
                  <div *ngFor="let filterColumn of reportView.columnHeaders" class="checkbox-line">
                    <input type="checkbox" [checked]="filterColumn.isActive"
                           (change)="filterColumn.isTemp = !filterColumn.isTemp"
                           [disabled]="" class="checkbox">
                    <div class="checkbox-text">{{filterColumn.fieldValue}}</div>
                  </div>
                </div>
                <div *ngIf="header.isFilterPopupColumnSelectionVisible" class="filter-popup-columns-footer"></div>
                <div *ngIf="header.isFilterPopupColumnSelectionVisible" class="filter-popup-actions">
                  <button type="button" (click)="cancelFilterPopup()" class="btn btn-secondary">Anuleaza</button>
                  <button type="button" (click)="applyFilterPopup(header,false, false, filterValue.value)"
                          class="btn btn-primary">Aplica
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-row" *ngFor="let line of reportView.reportContent; let i = index" style="background-color: white;"
             [ngClass]="determineFirstRow(i)">
          <div class="table-column" [ngStyle]="determineColumnWidth()" style="font-size: 10px;"
               *ngFor="let column of line">
              <img *ngIf="column.fieldValue == 'Send'" src="../../../assets/images/sendGreenDot.png" width="10px" />
              <img *ngIf="column.fieldValue == 'Receive'" src="../../../assets/images/receiveBlueDot.png" width="10px" />
              {{column.fieldValue ? column.fieldValue : emptyCol}}
          </div>
          <div class="table-column" style="font-size: 10px;">

            <popover-content #myPopover
                             placement="left"
                             [closeOnClickOutside]="true"
                             [closeOnMouseOutside]="false">

              <table class="tabel">
                <tr>
                  <td>
                    <a href="#">
                      <img src="../../../assets/images/tipareste.png" alt="Tipareste">
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <img src="../../../assets/images/trimite.png" alt="Trimite">
                    </a>
                  </td>
                  <td>
                    <a data-toggle="modal" data-target="#amendModal" (click)="Amend(line[1].fieldValue)">
                      <img src="../../../assets/images/modifica.png" alt="Modifica">
                    </a>
                  </td>
                  <td>
                    <a data-toggle="modal" data-target="#reverseModal">
                      <img src="../../../assets/images/reversare.png" alt="Reversare">
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <img src="../../../assets/images/editeaza.png" alt="Editeaza">
                    </a>
                  </td>

                </tr>
                <tr>
                  <td  style="align-self:top">Tipareste</td>
                  <td>Trimite</td>
                  <td>Modifica</td>
                  <td>Reversare</td>
                  <td>Editeaza</td>
                </tr>
              </table>

            </popover-content>

            <img [popover]="myPopover"
                 [popoverOnHover]="false"
                 [popoverCloseOnMouseOutside]="true"
                 src="../../../assets/images/svg/reporting/additional_menu.svg">

          </div>
        </div>
      </div>
      <div class="table-footer">
        <div class="paging" *ngIf="reportView.reportContent.length > 1">
          <button type="button" class="btn btn-secondary" *ngIf="currentPage > 1"
                  (click)="previousPages(1)">{{ 'reporting.previous_page' }}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage > 3"
                  (click)="previousPages(3)">{{currentPage - 3}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage > 2"
                  (click)="previousPages(2)">{{currentPage - 2}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage > 1"
                  (click)="previousPages(1)">{{currentPage - 1}}</button>
          <button type="button" class="btn btn-primary">{{currentPage}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage < totalResults/batchSize"
                  (click)="nextPages(1)">{{currentPage + 1}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage < (totalResults - batchSize)/batchSize"
                  (click)="nextPages(2)">{{currentPage + 2}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage < (totalResults - batchSize*2)/batchSize"
                  (click)="nextPages(3)">{{currentPage + 3}}</button>
          <button type="button" class="btn btn-secondary" *ngIf="currentPage < totalResults/batchSize"
                  (click)="nextPages(1)">{{ 'reporting.next_page' }}</button>
        </div>
        <div class="total-results">
          {{totalResultsFooterText}}
        </div>
      </div>
    </div>
  </section>
</div>

    </div>

  </div>

</div>

<div class="modal fade" #amendModal id="amendModal" tabindex="-1" role="dialog" aria-labelledby="amendModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  style="width: 600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="promotionCodeModalLabel">Modifica tranzactie</h5>
      </div>
      <div class="modal-body" style="padding: 0;">
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="referenceNumberInput" class="DisabledFont">Reference number</label>
              <input type="number" class="form-control" id="referenceNumberInput" [(ngModel)]="detailLookupResponse.referenceNumber" readonly required name="referenceNumberInput">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="transactionStatusInput" class="DisabledFont">Status</label>
              <input type="text" class="form-control" id="transactionStatusInput" [(ngModel)]="detailLookupResponse.transactionStatus" readonly required name="transactionStatusInput">
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="amendFirstNameInput" class="AmendFont">Receiver First Name</label>
              <input type="text" class="form-control" id="amendFirstNameInput" [(ngModel)]="detailLookupResponse.receiverFirstName" required name="amendFirstNameInput">
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="amendMiddleNameInput" class="AmendFont">Receiver Middle Name</label>
              <input type="text" class="form-control" id="amendMiddleNameInput" [(ngModel)]="detailLookupResponse.receiverMiddleName" name="amendMiddleNameInput">
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="amendLastNameInput" class="AmendFont">Receiver Last Name</label>
              <input type="text" class="form-control" id="amendLastNameInput" [(ngModel)]="detailLookupResponse.receiverLastName" required name="amendLastNameInput">
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="amendSecondLastNameInput" class="AmendFont">Receiver Second Last Name</label>
              <input type="text" class="form-control" id="amendSecondLastNameInput" [(ngModel)]="detailLookupResponse.receiverLastName2" name="amendSecondLastNameInput">
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="motivInternInput" class="AmendFont">Motiv Intern</label>
              <input type="text" class="form-control" id="motivInternInput" [(ngModel)]="detailLookupResponse.motivIntern" name="motivInternInput">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Inchide</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="realizeazaAmend()">Modifica</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #reverseModal id="reverseModal" tabindex="-1" role="dialog" aria-labelledby="reverseModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  style="width: 600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="promotionCodeModalLabel">Reversare tranzactie</h5>
      </div>
      <div class="modal-body" style="padding: 0;">
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-4">
            <label>Numar referinta</label>
          </div>
          <div class="col-lg-8">
            <label>37343024</label>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-4">
            <label>Nume si prenume</label>
          </div>
          <div class="col-lg-8">
            <label>Covaci Simona Adriana</label>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-4">
            <label>Suma</label>
          </div>
          <div class="col-lg-8">
            <label>1,200.00 RON</label>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="motivReverse" class="AmendFont">Motiv reverse</label>
              <select class="form-control" name="motivReverse" id="motivReverse">
                <option value="1">Incorrect ammount</option>
                <option value="2">No receive transaction</option>
                <option value="3">Wrong service</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="returnareComisionReverse" class="returnareComisionReverse">Returnare comision</label>
              <select class="form-control" name="returnareComisionReverse" id="returnareComisionReverse">
                <option value="1">Da</option>
                <option value="2">Nu</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 20px 20px 20px 20px;">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="motivInternReverse" class="AmendFont">Motiv Intern</label>
              <input type="text" class="form-control" id="motivInternReverse" name="motivInternReverse">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Inchide</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Modifica</button>
      </div>
    </div>
  </div>
</div>

